* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  width: 100%;
  height: 10vh;
  text-align: left;
  background-color: #3E8ACC;
  color: white;
  padding: 2vh 6vw;
  font-weight: light;
}

.form {
  width: 60vw;
  display: flex;
  flex-direction: column;
  height: 80vh;
}

form input, textarea, select{
  /*text-align: center;*/
  width: 90%;
  margin: 2vh auto;
}

textarea {
  height: 5em;
}

.submit {
  background: #C8DEF1;
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
}

button {
  margin: 0 6vw;
  background-color: #3E8ACC;
  color: #FFFFFF;
  height: 6vh;
  width: 12vw;
}
